header {
  top: 0px;
  width: 100%;
  height: 100%;
  height: 50px;
  position: fixed;
  background-color: #333;
}

.navcontainer {
  max-width: 1300px;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}

.me,
nav {
  color: white;
  position: relative;
}

.me {
  float: left;
}

.me span.breaker {
  margin: 0px 15px;
}

.icon {
  font-size: 25px;
}

nav {
  float: right;
  top: 50%;
  text-decoration: none;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav ul.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li.navitem {
  display: inline-block;
  position: relative;
}

nav li.navitem:not(:first-child) {
  margin-left: 3.5vw;
}

nav a,
nav span {
  color: white;
  text-decoration: none;
}

nav span {
  cursor: default;
}

nav a:hover,
nav a:focus
/*nav span:hover,
nav span:focus*/ {
  color: rgb(245, 196, 35);
}

.dropdown {
  width: auto;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10px;
  height: 10px;
  visibility: hidden;
}

ul.dropdown-content {
  text-decoration: none;
  visibility: hidden;
  position: absolute;
  background-color: #333;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  margin: 13px auto 0 auto;
  padding: 0;
  list-style: none;
  /* border-top-style: solid;
  border-top-color: rgb(187, 59, 24); */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 1;
}

ul.dropdown-content::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  border-radius: 6px;
  background-color: rgb(187, 59, 24);
  transition: transform 200ms ease-in-out;
  transform: scaleX(0);
}

.dropdown-right-buffer,
.dropdown-left-buffer {
  height: 108%;
  width: 10px;
  top: 0;
  bottom: 0;
  position: absolute;
}

.dropdown-right-buffer {
  right: -10px;
}

.dropdown-left-buffer {
  left: -10px;
}

.dropdown-top-buffer,
.dropdown-bottom-buffer {
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
}

.dropdown-top-buffer {
  top: -13%;
  height: 13%;
}

.dropdown-bottom-buffer {
  bottom: -10px;
  height: 10px;
}

.dropdown-content li {
  text-align: center;
}

.dropdown-content a {
  padding: 10px;
  width: auto;
  display: block;
}

.dropdown-content li:hover,
.dropdown-content li:focus {
  background-color: rgb(37, 37, 37);
}

.dropdown:hover ul.dropdown-content,
.dropdown:focus ul.dropdown-content {
  visibility: visible;
}

.dropdown span:hover ~ ul.dropdown-content::before,
.dropdown span:focus ~ ul.dropdown-content::before,
ul.dropdown-content:hover::before,
ul.dropdown-content:focus::before {
  transform: scaleX(1);
}
